<div class="wrapper">
    <h1>CarLog</h1>
    <p>A maintence tracker made for people who love cars!</p>
    <div class="login-signup">
        <button>Create an Account</button>
        <button>Login</button>
    </div>
    <div class="login-form">
        <h3>Login</h3>
        <form>
            <label for="username">Username</label>
            <input name="username" type=[text]/>
            <label for="password">Password</label>
            <input name="password" type=[password]/>
            <button>Submit</button>
        </form>
    </div>
    <div class="signup-form">
        <h3>Signup</h3>
        <form>
            <label for="firstname">First Name</label>
            <input name="firstname" type=[text]/>
            <label for="lastname">Last Name</label>
            <input name="lastname" type=[text]/>
            <label for="email">Email</label>
            <input name="email" type=[text]>
            <label for="password">Password</label>
            <input name="password" type=[password]>
            <label for="passwordagain">Password Again</label>
            <input name="passwordagain" type=[password]>
            <button>Submit</button>
        </form>
    </div>
</div>
