<form *ngIf="showAddCar" [formGroup]='addCarForm'>

    <div class='form-section'>
        <div class="form-control">
            <label for='year'>Year</label>
            <select type='select' name='year' formControlName='year' id='year'>
                <option value="">Year</option>
                <option *ngFor="let year of yearChoice()">{{year}}</option>
            </select>
        </div>
    
        <div class="form-control">
            <label for='make'>Make</label>
            <select type='select' name='make' formControlName='make' id='make'>
                <option value="">Vehicle Make</option>
                <option [ngValue]="car" *ngFor="let car of cars">{{car.make}}</option>
            </select>
        </div>
    
        <div class="form-control">
            <label for='model'>Model</label>
            <select type='select' name='model' formControlName='model' id='model'>
                <option value="">Vehicle Model</option>
                <option [ngValue]="model" *ngFor='let model of addCarFormControl.make.value.models'>{{model.name}}</option>
            </select>
        </div>
    
        <div class="form-control">
            <label for='submodel'>Submodel</label>
            <select type='select' name='submodel' formControlName='submodel' id='submodel'>
                <option value="">Vehicle Submodel</option>
                <option
                *ngFor='let submodel of addCarFormControl.model.value.submodels'
                >{{submodel}}</option>
            </select>
        </div>
      
        <div class="form-control">
            <label for='drive'>Drive Type</label>
            <select type='select' name='drive' formControlName='drive' id='drive'>
                <option value="">Drive Type</option>
                <option>RWD</option>
                <option>FWD</option>
                <option>AWD</option>
                <option>4WD</option>
            </select>
        </div>
    
        <div class="form-control">
            <label for='transmission'>Transmission</label>
            <select type='select' name='transmission' formControlName='transmission' id='transmission'>
                <option value="">Transmission</option>
                <option>Automatic</option>
                <option>Manual</option>
                <option>Continuously Variable</option>
            </select>
        </div>
    
        <div class="form-control">
            <label for='fuel'>Fuel</label>
            <select type='select' name='fuel' formControlName='fuel' id='fuel'>
                <option value="">Fuel Type</option>
                <option>Gasoline</option>
                <option>Diesel</option>
                <option>Electric</option>
                <option>Propane</option>
            </select>
        </div>
    
        <div class="form-control">
            <label for='mileage'>Mileage</label>
            <input type='text' name='mileage' formControlName='mileage' id='mileage' placeholder='Add Vehicle Mileage...'>
            <div *ngIf="addCarFormControl.mileage.errors?.isNotNumber" style="color: red">Must be a number.</div>
        </div>
    </div>
    <div class="form-section">
        <app-button (btnClick)="onSubmit()" theme='regular' text='Submit'></app-button>
    </div>
</form>