.car {
    width: 400px;
    background-color: beige;
}

.car-title {
    background-color: rgba(0,0,0,.1);
}

.car-image {
    height: 200px;
}

.car-functions {
    background-color: cadetblue;
    display: flex;
    
}

