<div class='car'>
    <div class='car-title'>
        {{ car.year }} {{ car.make }} {{ car.model}}
    </div>
    <div class='car-image'>
        Image Placeholder
    </div>
    <div class='car-functions'>
        <div class='car-function'>
            <div (click)="onDelete(car)" class='car-function-icon'>
                <fa-icon [ngStyle]="{'color': 'red'}" [icon]="faTimes"></fa-icon>
            </div>
            <div class='car-function-text'>Delete</div>
        </div>
        <div class='car-function'>
            <div class='car-function-icon'>
                .
            </div>
            <div class='car-function-text'>Add Service</div>
        </div>
        <div class='car-function'>
            <div class='car-function-icon'>
                .
            </div>
            <div class='car-function-text'>Edit Car</div>
        </div>
        <div class='car-function'>
            <div class='car-function-icon'>
                .
            </div>
            <div class='car-function-text'>View Car</div>
        </div>
    </div>
</div>
