<div class="cars">
    <h2>
        Your Garage
    </h2>
    <app-button 
    theme="{{ showAddCar ? 'inverted' : 'regular'}}" 
    text="{{ showAddCar ? 'Close' : 'Add Car'}}" 
    (btnClick)="toggleAddCar()"></app-button>
    <app-add-car (onAddCar)="addCar($event)"></app-add-car>
    <div class="car-display">
        <app-single-car 
        *ngFor="let car of cars" 
        [car]="car" 
        (onDeleteCar)="deleteCar(car)"
    ></app-single-car>
    </div>
    <router-outlet></router-outlet>
</div>


