<h3>Add Maintenance Item</h3>

<form>
    <!-- Date -->
    <div class="form-control">
        <label for="date">Date</label>
        <input type="date" name="date">
    </div>


    <!-- Type -->
    <div class="form-control">
        <label for="type">Type</label>
        <input type="text" name="type">
    </div>


    <!-- Parts -->
    <div class="form-control">
        <app-button (btnClick)="showAddPart()" text="Add Part" theme="regular"></app-button>
        <p *ngIf="!showAddParts">You haven't added any parts for this maintenance.</p>
        <app-add-part (onAddPart)="pushPart()" *ngIf="showAddParts"></app-add-part>
    </div>
</form>