<form>
    <!-- Date -->
    <div class="form-control">
        <label for="date">Date</label>
        <input type="date" name="date">
    </div>


    <!-- Type -->
    <div class="form-control">
        <label for="type">Type</label>
        <input type="text" name="type">
    </div>


    <!-- Parts -->
    <div class="form-control">
        <app-button (btnClick)="showAddPart()" text="Add Part" theme="regular"></app-button>
        <p *ngIf="!showAddParts">You haven't added any parts for this maintenance.</p>
        <app-add-part (onAddPart)="pushPart($event)" *ngIf="showAddParts"></app-add-part>
    </div>

    <!-- Parts Display -->
    <app-parts-display [parts]="parts"></app-parts-display>
    <!-- Actions -->
    <app-button (btnClick)="onSubmit()" theme='regular' text='Submit Maintenance Item'></app-button>
    <app-button (btnClick)="onReset()" theme='regular' text='Reset'></app-button>
    <app-button (btnClick)="onCancel()" theme='regular' text='Return to Car'></app-button>
</form>