<div class="wrapper">
    <h1>CarLog</h1>
    <p>A maintence tracker made for people who love cars!</p>
    <div class="login-signup">
        <app-button (btnClick)="toggleSignUpForm()" text='Sign Up' theme='regular'></app-button>
        <app-button (btnClick)="toggleLoginForm()" text='Login' theme='regular'></app-button>
    </div>
    <div class="login-form" *ngIf='showLoginForm'>
        <h3>Login</h3>
        <form [formGroup]="loginForm">
            <div class="form-control">
                <label for="username">Email</label>
                <input formControlName="email" name="email" type="text"/>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input formControlName="password" name="password" type="password"/>
            </div>
            <div class="form-control">
                <app-button (btnClick)='onLogin()' theme='regular' text='Login'></app-button>
            </div>
        </form>
    </div>
    <div class="signup-form" *ngIf='showSignUpForm'>
        <h3>Signup</h3>
        <form [formGroup]="signUpForm">
            <div class="form-control">
                <label for="firstName">First Name</label>
                <input formControlName="firstName" name="firstName" type="text"/>
            </div>
            <div class="form-control">
                <label for="lastName">Last Name</label>
                <input formControlName="lastName" name="lastName" type="text"/>
            </div>
            <div class="form-control">
                <label for="email">Email</label>
                <input formControlName="email" name="email" type="text">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input formControlName="password" name="password" type="password">
            </div>
            <div class="form-control">
                <label for="rptPassword">Password Again</label>
                <input formControlName="rptPassword" name="rptPassword" type="password">
            </div>
            <div class="form-control">
                <app-button (btnClick)='onSignUp()' theme='regular' text='Sign Up!'></app-button>
            </div>
        </form>
    </div>
</div>
