input[type=text] {
    font-size: 1.25em;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}