<form *ngIf="showAddCar" (ngSubmit)="onSubmit()" [formGroup]='addCarForm'>

    <div class='form-section'>
        <div class="form-control">
            <label for='year'>Year</label>
            <input type='text' name='year' formControlName='year' id='year' placeholder='Add Vehicle Year...'>
            <div *ngIf="addCarFormControl.year.errors?.isNotNumber" style="color: red">Must be a number.</div>
        </div>
    
        <div class="form-control">
            <label for='make'>Make</label>
            <select type='select' name='make' formControlName='make' id='make'>
                <option value="">Vehicle Make</option>
                <option [ngValue]="car" *ngFor="let car of cars">{{car.make}}</option>
            </select>
        </div>
    
        <div class="form-control">
            <label for='model'>Model</label>
            <select type='select' name='model' formControlName='model' id='model'>
                <option value="">Vehicle Model</option>
                <option [ngValue]="model" *ngFor='let model of addCarFormControl.make.value.models'>{{model.name}}</option>
            </select>
        </div>
    
        <div class="form-control">
            <label for='submodel'>Submodel</label>
            <select type='select' name='submodel' formControlName='submodel' id='submodel'>
                <option value="">Vehicle Submodel</option>
                <option
                *ngFor='let submodel of addCarFormControl.model.value.submodels'
                >{{submodel}}</option>
            </select>
        </div>
      
        <div class="form-control">
            <label for='drive'>Drive</label>
            <input type='text' name='drive' formControlName='drive' id='drive' placeholder='Add Vehicle Drive...'>
        </div>
    
        <div class="form-control">
            <label for='transmission'>Transmission</label>
            <input type='text' name='transmission' formControlName='transmission' id='transmission' placeholder='Add Vehicle Transmission...'>
        </div>
    
        <div class="form-control">
            <label for='fuel'>Fuel</label>
            <input type='text' name='fuel' formControlName='fuel' id='fuel' placeholder='Add Vehicle Fuel...'>
        </div>
    
        <div class="form-control">
            <label for='mileage'>Mileage</label>
            <input type='text' name='mileage' formControlName='mileage' id='mileage' placeholder='Add Vehicle Mileage...'>
            <div *ngIf="addCarFormControl.mileage.errors?.isNotNumber" style="color: red">Must be a number.</div>
        </div>
    </div>
    <div class="form-section">
        <input type="submit" class='btn btn-submit' value="Save Car" />
    </div>
</form>