<form *ngIf="showAddCar" (ngSubmit)="onSubmit()" [formGroup]='addCarForm'>

    <div class='form-section'>
        <div class="form-control">
            <label for='year'>Year</label>
            <input type='text' name='year' formControlName='year' id='year' placeholder='Add Vehicle Year...'>
            <div *ngIf="addCarFormControl.year.errors?.isNotNumber" style="color: red">Must be a number.</div>
        </div>
    
        <div class="form-control">
            <label for='make'>Make</label>
            <select type='select' name='make' formControlName='make' id='make'>
                <option value="">Select Vehicle Make</option>
                <option *ngFor="let make of makes">{{make}}</option>
            </select>
        </div>
    
        <div class="form-control">
            <label for='model'>Model</label>
            <input type='text' name='model' formControlName='model' id='model' placeholder='Add Vehicle Model...'>
        </div>
    
        <div class="form-control">
            <label for='submodel'>Submodel</label>
            <input type='text' name='submodel' formControlName='submodel' id='submodel' placeholder='Add Vehicle Submodel/Trim Level...'>
        </div>
      
        <div class="form-control">
            <label for='drive'>Drive</label>
            <input type='text' name='drive' formControlName='drive' id='drive' placeholder='Add Vehicle Drive...'>
        </div>
    
        <div class="form-control">
            <label for='transmission'>Transmission</label>
            <input type='text' name='transmission' formControlName='transmission' id='transmission' placeholder='Add Vehicle Transmission...'>
        </div>
    
        <div class="form-control">
            <label for='fuel'>Fuel</label>
            <input type='text' name='fuel' formControlName='fuel' id='fuel' placeholder='Add Vehicle Fuel...'>
        </div>
    
        <div class="form-control">
            <label for='mileage'>Mileage</label>
            <input type='text' name='mileage' formControlName='mileage' id='mileage' placeholder='Add Vehicle Mileage...'>
            <div *ngIf="addCarFormControl.mileage.errors?.isNotNumber" style="color: red">Must be a number.</div>
        </div>
    </div>
    <div class="form-section">
        <input type="submit" class='btn btn-submit' value="Save Car" />
    </div>
</form>